@import "../../global.scss";
.abouthome {
  width: 100%;
  background-color: $fongray-light;
  display: flex;
  align-items: center;
  gap: 5%;
  padding: 3% 10%;

  @include media-tablet {
  }

  @include media-mobile {
    flex-direction: column;
  }

  &__img {
    display: flex;
    width: 200px;
    height: 200px;
    position: relative;
    align-items: flex-end;
    justify-content: center;

    &-person {
      width: 180px;
      height: 200px;
      position: absolute;
    }

    &-fon {
      width: 200px;
      height: 180px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin: none;

    &-us {
      font-family: $font-serif;
      font-size: 30px;
    }
  }
}
