@import "../../global.scss";
.icons-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-mobile {
    flex-direction: column;
  }

  .icon {
    width: 200px;
    height: 200px;
    min-height: 200px;
    object-fit: cover;

    @include media-tablet {
      width: 150px;
      height: 150px;
      min-height: 150px;
    }

    @include media-mobile {
      width: 200px;
      height: 200px;
      min-height: 100px;
    }
  }
}
