@import "../../global.scss";

.hero-banner {
  width: 100%;
  height: auto;
  color: $white-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__background {
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }

  &__title {
    font-family: $font-serif;
    font-size: 32px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 3%;
  }

  &__text {
    font-family: $font-popins;
    font-size: 18px;
    line-height: 1.1;
    height: 70px;
    width: 40%;
    margin-top: 1%;

    @include media-tablet {
      width: 55%;
    }

    @include media-mobile {
      width: 70%;
      font-size: 14px;
    }
  }
}
