@import "../../global.scss";
.about {
  width: 100%;
  height: 300px;
  background-color: $fongray-light;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__img {
    display: flex;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    position: relative;
    align-items: end;
    justify-content: center;
    &-person {
      width: 180px;
      height: 200px;
      position: absolute;
    }
    &-fon {
      width: 200px;
      height: 180px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    width: 700px;
  }
}
