@import "../../global.scss";

.aboutus {
  width: 100%;
  height: auto;
  background-color: $fongray-light;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3% 10%;

  @include media-mobile {
    flex-direction: column;
  }

  &__img {
    display: flex;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    position: relative;
    align-items: flex-end;
    justify-content: center;

    @include media-mobile {
      width: 80%;
      height: 40%;
      margin-top: 10px 0;
    }
  }

  &__text {
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin: 0;

    @include media-mobile {
      width: 80%;
    }

    &-title {
      font-family: $font-serif;
      font-size: 28px;
    }

    &-title-text {
      font-family: $font-serif;
      font-size: 18px;
    }

    &-text {
      font-family: $font-popins;
      font-size: 15px;
      margin-top: 5px;
    }
  }
}
