@import "../../global.scss";

.advantage-element__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 115px;
  &-img {
    width: 70px;
    height: 70px;
    border-radius: 30px;
  }
  &-wrap {
    display: flex;
    width: 170px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--title {
      margin: 0;
      font-family: $font-serif;
      font-size: 15px;
    }
    &--text {
      margin: 0;
      margin: 10px;
      font-family: $font-popins;
      font-size: 11px;
    }
  }
}
